*{
    font-family: Century Gothic;
}

header{
  position: sticky;
  top: 0;
  z-index: 2;
}


.navbar {
    height: 52px;
    width: 100%;
    background-color: #443345;
    overflow: hidden;

}

.leftnav ul{
    float: left;
    list-style-type: none;
    margin-left: 0px;
}

.leftnav ul li a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    margin-bottom: 10px;
}

.rightnav ul {
    position: absolute;
    top: -6px;
    right: 200px;
    float: right;
    list-style-type: none;

}

.rightnav ul li {
    display: inline-block;
}

.rightnav ul li a{
    text-decoration: none;
    font-size: 13px;
    color:  #D8D8D8;
    padding: 20px 20px 15px;
    margin-right: -6px;
}

.rightnav ul li a:hover, .rightnav ul li.active a{
    background-color: #665565;
    border-bottom: 3px solid #EB233C;
    display: block;
    color: white;
}


.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  margin-right: 40px;
  margin-top:-7px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}



.banner1{
    height: 660px;
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    color:  #E1DBDB;
    text-align: center;
    width: 100%;
    float: left;
}



.banner11{
    padding: 280px 0 225px;
    background-color: rgba(15, 5, 20, 0.85);
}


.banner11 h2{
    color: white;
    font-size: 40px;
    margin-left: 100px;
}

span{
    color:  #EB233C;
}

.banner11 p{
    margin-top: 70px;
    margin-left: 150px;
    color: white;
}

.banner12{
    margin-left: 100px;
}

input[type=email] {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border: 1px solid #443345;
  border-radius: 3px;
}

.btn12{
    border: 1px solid #ec243c;
    background-color: #443345;
    color: white;
    padding: 8px 16px;
    border-radius: 3px;
}

.btn12:hover{
    text-decoration: none;
    color: grey;
}

.banner2{
    height: 300px;
    width: 100%;
    background-color: white;
    text-align: center;
    color: black;
    float: left;
}

.banner21{
    width: 100%;
    height: 280px;
    text-align: center;
    padding-top: 80px;
    font-size: 30px;
}


.banner3{
    background-color: #faf3fa;
    height: 1100px;
    width: 100%;
}

.icon31 p, .icon41 p, .icon61 p, .icon71 p{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 100%;
    font-size: 33px;
    color: #ec243c;
}


.banner31-cards, .banner41-cards{
}

.card h4{
    color: #ec243c;
}

.card p{
    color: black;
}

.banner41 .card{
    background-color: #faf3fa;
}

.banner4{

    height: 600px;
    width: 100%;
}

.banner5{

    height: 300px;
    width: 100%;
    background-color: #faf3fa;
}

.banner51{
    padding-left: 250px;
    color: #EB233C;
    font-size: 25px;
    padding-top: 80px;
}

.banner51 small{
     color: black;
}

.banner6{
    height: 600px;
    width: 100%;
    margin-bottom: 100px;
}

.banner61 .card{
    margin-bottom: 80px;
}

.btn61{
    margin-left: 680px;
    border: 1px solid #443345;
    background-color: #443345;
    color: white;
    padding: 10px 18px;
    border-radius: 3px;
}

.btn61:hover{
    text-decoration: none;
    color: grey;
}

.banner7{
    background-color: #322a1f;
    height: 1465px;
    color: white;
    width: 100%;
}

.column71{
    text-align: center;
}

.column71 .col71{
    display: inline-block;
    margin: 0px 25px 0px;
}

.col71 .desc{
    margin: 30px 0px 0px;
    font-size: 18px;
}

.desc small{
    font-size: 12px;
}

.col71 img{
    padding: 0;
    margin: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.line{
      border-color: 1px solid  #EB233C;
      background-color: #EB233C;
      margin-top: 80px;
      width: 80%;
      text-align: center;
}

.banner72{
    padding-top: 20px;
    margin-top: 30px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.banner72 h4{
    color: #EB233C;
    padding-bottom: 10px;
    font-size: 25px;
}

.banner72 span{
    font-size: 15px;
    color: white;

}

.para72{
    padding: 0px 280px 0px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 15px;
}


.banner73{
    height: 300px;
    margin-top: 30px;
}


.banner73 h2{
    color: #EB233C;
    text-align: center;
    margin-top: 80px;
}


.form73{
    text-align: center;
    margin-top: 30px;

}

.form73 input[type=text], input[type=email], textarea{
    padding: 5px 10px;
    margin: 8px 0px;
    border: 1px solid #443345;
    border-radius: 3px;
    background-color: #f0f0f0;
    align-items: center;
}

.message{
    width: 880px;
    padding: 15px 10px;
    margin: 8px 0px ;
    margin-bottom: 25px;
}

.btn73{
    border: 1px solid #EB233C;
    background-color: #EB233C;
    color: white;
    padding: 10px 18px;
    border-radius: 3px;
}

.btn73:hover{
    text-decoration: none;
    color: white;
    background-color: #8D1524;
    border: 1px solid #8D1524;
}

footer{
    width: 100%;
    padding-top: 10px;
    text-align: center;
}

@media (max-width: 600px){
  .leftnav{
    margin-right: 100px;
  }

  .checkbtn{
    display: block;
  }

  .rightnav ul{
    position: fixed;
    width: 100%;
    top: 52px;
    left: -100%;
    text-align: center;
    background-color: rgb(15, 5, 20);
    height: 575px;
    z-index: 1;
    transition: 0.4s ease; 

  }
  .rightnav ul li{
    display: block;
    margin: 50px 0;
    margin-left: -30px;
    line-height: 30px;
  }
  .rightnav ul li a{
    font-size: 25px;

  }
  .rightnav ul li a:hover, .rightnav ul li.active a{
     background: none;
     color: #EB233C;
     border: none;
     display: inline;
     border-bottom: 1px solid #EB233C;
  }

  .banner1{
    height: 500px;

  }

  .banner11{
    padding: 280px 0 147px;
  }

  .banner11 h2{ 
    font-size: 18px;
    text-align: center;
    margin-left: 0px;
    margin-top: -100px;
  }

  .banner11 p{
    font-size: 12px;
    text-align: center;
    margin-left: 0px;
  }

  .banner12 input[type=email]{
    margin-left: -100px;
    width: 200px;
    padding: 3px 10px;

  }

  .btn12{
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 15px;
  }


  .banner2{
    height: 200px; 
  }

  .banner21{
    width: 100%;
    height: 180px;
    text-align: center;
    padding-top: 65px;
    font-size: 17px;
  }

  .banner3{
    height: 2800px;
  }

  .banner31 .card{
    margin-bottom: 5px;

  }

  .icon31 p, .icon41 p, .icon61 p, .icon71 p{
    font-size: 25px;
  }

  .card h4{
    font-size: 16px;
  }

  .card p{
    font-size: 12px;
  }

  .banner4{
    height: 1800px;
  }

  .banner41 .card{
    margin-bottom: 5px;
  }

  .banner5{
    height: 250px;
  }

  .banner51{
    padding-left: 60px;
    color: #EB233C;
    font-size: 18px;
    padding-top: 65px;
  }

  .banner51 small{
     color: black;
  }

  .banner6{
    height: 1520px;
    margin-bottom: 0px;
  }

  .banner61 .container{
    margin-bottom: 30px;
  }

  .banner61 .card{
    margin-bottom: 5px;
  }

  .btn61{
    margin-left: 150px;
    padding: 10px 18px;
  }

  .banner7{
    height: 1950px;
    margin-top: 50px;
  }

  .column71 .col71{
    margin-bottom: 10px;
  }

  .column71 .col71a{
    display: none;
  }

  .banner72{
    padding-top: 20px;
    margin-top: 30px;
    text-align: center;
    color: white;
    font-size: 18px;
  }

  .banner72 h4{
    font-size: 20px;
    margin-bottom: 0px;
  }

  .para72{
    padding: 0px 50px 0px;
    margin-bottom: 15px;
    font-size: 13px;

  }

  .banner73{
    height: 635px;
    margin-top: 20px;
  }


  .banner73 h2{
    color: #EB233C;
    text-align: center;
    margin-top: 80px;
  }


  .form73{
    text-align: center;
    margin-top: 20px;

  }

  .form73 input[type=text], input[type=email], textarea{
    width: 420px;
    padding: 5px 10px;
    margin: 8px 0px;
    margin-left: 0px;

  }

  .form73 #name, .form73 #company{
    margin-left: 15px;
  }

  .message{
    width: 420px;
    height: 160px;
    padding: 15px 10px;
    margin: 8px 0px ;
    margin-bottom: 25px;
  }

  .btn73{
    padding: 8px 16px;
  }

}
  #check:checked ~ .rightnav ul{
    left: 0;
  }
}